<img class="preview" [src]="url" alt="preview-img" />
<div class="info">
  <div class="views">
    <svg-icon src="assets/icons/viewed.svg" [svgStyle]="{ 'width.px': 20 }"></svg-icon>
    <div class="count">{{ viewCount }}</div>
  </div>
  <div class="likes">
    <svg-icon src="assets/icons/liked.svg" [svgStyle]="{ 'width.px': 20 }"></svg-icon>
    <div class="count">{{ likeCount }}</div>
  </div>
  <div class="dislikes">
    <svg-icon src="assets/icons/dislike.svg" [svgStyle]="{ 'width.px': 20 }"></svg-icon>
    <div class="count">{{ dislikeCount }}</div>
  </div>
  <div class="share">
    <svg-icon src="assets/icons/share.svg" [svgStyle]="{ 'width.px': 20 }"></svg-icon>
    <div class="count">{{ commentCount }}</div>
  </div>
</div>
<div class="title">{{ title }}</div>
<button [routerLink]="['/card', id]" class="more">more...</button>
<div class="bottom" [appPublicationDate]="publishDate"></div>
