<img class="preview" src="" [src]="url" alt="preview-img" />
<div class="info">
  <div class="views">
    <img src="" alt="icon" class="icon" />
    <div class="count">{{ viewCount }}</div>
  </div>
  <div class="likes">
    <img src="" alt="icon" class="icon" />
    <div class="count">{{ likeCount }}</div>
  </div>
  <div class="dislikes">
    <img src="" alt="icon" class="icon" />
    <div class="count">{{ dislikeCount }}</div>
  </div>
  <div class="share">
    <img src="" alt="icon" class="icon" />
    <div class="count">{{ commentCount }}</div>
  </div>
</div>
<div class="title">{{ title }}</div>
<button [routerLink]="['/card', id]" class="more">more...</button>
<div class="bottom" [appPublicationDate]="publishDate"></div>
