<button class="prev">
  <div class="prev-icon">
    <app-prev></app-prev>
  </div>
</button>
<picture class="picture">
  <source media="(min-width: )" srcset="" />
  <img [src]="image" alt="card-picture" />
</picture>
<div class="details">
  <header class="details__head">
    <h3 class="details__heading">{{ title }}</h3>
    <div class="date">{{ date }}</div>
  </header>
  <div class="description">
    <div class="description__heading">Description:</div>
    <p class="description__text">
      {{ description }}
    </p>
  </div>

  <div class="info">
    <div class="info__item views">
      <svg-icon src="assets/icons/viewed.svg" [svgStyle]="{ 'width.px': 20 }"></svg-icon>
      <div class="count">{{ viewCount }}</div>
    </div>
    <div class="info__item likes">
      <svg-icon src="assets/icons/liked.svg" [svgStyle]="{ 'width.px': 20 }"></svg-icon>
      <div class="count">{{ likeCount }}</div>
    </div>
    <div class="info__item dislikes">
      <svg-icon src="assets/icons/dislike.svg" [svgStyle]="{ 'width.px': 20 }"></svg-icon>
      <div class="count">{{ dislikeCount }}</div>
    </div>
    <div class="info__item share">
      <svg-icon src="assets/icons/share.svg" [svgStyle]="{ 'width.px': 20 }"></svg-icon>
      <div class="count">{{ commentCount }}</div>
    </div>
  </div>

  <!-- <div class="bottom" [appPublicationDate]="publishDate"></div> -->
</div>
