<button routerLink="/main" class="prev">
  <div class="prev-icon">
    <app-prev></app-prev>
  </div>
</button>
<div class="video" (click)="onClickToVideo()">
  <!-- <button class="video__button">
    <svg width="68" height="48" viewBox="0 0 68 48">
      <path
        class="video__button-shape"
        d="M66.52,7.74c-0.78-2.93-2.49-5.41-5.42-6.19C55.79,.13,34,0,34,0S12.21,.13,6.9,1.55 C3.97,2.33,2.27,4.81,1.48,7.74C0.06,13.05,0,24,0,24s0.06,10.95,1.48,16.26c0.78,2.93,2.49,5.41,5.42,6.19 C12.21,47.87,34,48,34,48s21.79-0.13,27.1-1.55c2.93-0.78,4.64-3.26,5.42-6.19C67.94,34.95,68,24,68,24S67.94,13.05,66.52,7.74z"
      ></path>
      <path class="video__button-icon" d="M 45,24 27,14 27,34"></path>
    </svg>
  </button>
  <img [src]="videoImage" alt="picture video" /> -->
  <iframe
    class="iframe"
    [src]="safeUrl"
    title="YouTube video player"
    frameborder="0"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
    allowfullscreen
  ></iframe>
</div>
<div class="details">
  <header class="details__head">
    <h3 class="details__heading">{{ title }}</h3>
    <div class="date">{{ date }}</div>
  </header>
  <div class="description">
    <div class="description__heading">Description:</div>
    <p class="description__text">
      {{ description }}
    </p>
  </div>

  <div class="info">
    <div class="info__item views">
      <svg-icon src="assets/icons/viewed.svg" [svgStyle]="{ 'width.px': 20 }"></svg-icon>
      <div class="count">{{ viewCount }}</div>
    </div>
    <div class="info__item likes">
      <svg-icon src="assets/icons/liked.svg" [svgStyle]="{ 'width.px': 20 }"></svg-icon>
      <div class="count">{{ likeCount }}</div>
    </div>
    <div class="info__item dislikes">
      <svg-icon src="assets/icons/dislike.svg" [svgStyle]="{ 'width.px': 20 }"></svg-icon>
      <div class="count">{{ dislikeCount }}</div>
    </div>
    <div class="info__item share">
      <svg-icon src="assets/icons/share.svg" [svgStyle]="{ 'width.px': 20 }"></svg-icon>
      <div class="count">{{ commentCount }}</div>
    </div>
  </div>

  <div *ngIf="publishDate" class="bottom" [appPublicationDate]="publishDate"></div>
</div>
